.game-opening,
.hidden-phrase,
.hearts-container,
.score,
.answer-feedback,
.result-message {
  position: absolute; /* Absolute to control vertical position */
  left: 50%;
  transform: translateX(-50%); /* left 50% and translate to center */
}

@font-face {
  font-family: "zerovelo";
  src: url("../fonts/zerovelo.ttf") format("truetype");
}

.login-area {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  text-align: center;
}

.hidden-phrase {
  top: 5%;
  font-family: zerovelo;
  font-size: 25px;
  color: #5802d0;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  background-color: #af40ff;
}

.hearts-container {
  top: 40%;
}

.score {
  position: absolute;
  top: 30%;
}

.answer-feedback {
  top: 60%;
}

.result-message {
  top: 50%;
}

.start-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.start-btn:active,
.start-btn:hover {
  outline: 0;
}

.start-btn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.start-btn:hover span {
  background: none;
}

@media (min-width: 768px) {
  .start-btn {
    font-size: 24px;
    min-width: 196px;
  }
}
