.guess-input,
.previous-guesses,
.error-modal {
  position: absolute; /* Absolute to control vertical position */
  left: 50%;
  transform: translateX(-50%); /* left 50% and translate to center */
}

.guess-input {
  top: 67%;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #e91e63;
  background: rgba(233, 30, 99, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: #e91e63;
}

.previous-guesses {
  top: 55%;
}

.error-modal {
  bottom: 10%;
}
