.login-reminder {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.profile-update-form {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 90%;
  border: 2px solid black;
}

.username-update {
  margin-right: 10px;
}
